.grocerylist, .inputlist {
  font-size: 25px;
  color: red;
  justify-content: space-evenly;
  display: flexbox;
  width: fit-content;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 50px;
}

.list1 {
  box-shadow: 0 0 8px blue;
  border: 2px black;
  border-style: groove;
  top: auto;
  padding: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}



.inputlist {
  box-sizing: border-box;
  box-shadow: 0 0 8px blue;
  border: 2px black;
  border-style: groove;
  top: auto;
  padding: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}

